extends master.pug

block body
    h1 Welcome Home!

    a(class="btn btn-primary" href="/" role="button") Take me home!
    a(class="btn btn-primary" href="/compDataSel" role="button") Compiled Data Select