extends master.pug

block body

    i(class="fa fa-coffee")
    i(class="fa fa-coffee")
    i(class="fa fa-coffee")
    span &nbsp This is a work in progress!&nbsp
    i(class="fa fa-coffee")
    i(class="fa fa-coffee")
    i(class="fa fa-coffee")
