/* FIX TABLE ALIGNMENT
.table td {
  text-align: center;
} */




/*
 _______              
|__   __|             
   | | __ _  __ _ ___ 
   | |/ _` |/ _` / __|
   | | (_| | (_| \__ \
   |_|\__,_|\__, |___/
             __/ |    
            |___/       
*/   


html {
    position: relative;
    min-height: 100%;
  }
  body {
    font-size: 1em;
    font-family: 'Roboto';
    margin-bottom: 60px; /* Margin bottom by footer height */
  }





/*   _____ _                         
  / ____| |                        
 | |    | | __ _ ___ ___  ___  ___ 
 | |    | |/ _` / __/ __|/ _ \/ __|
 | |____| | (_| \__ \__ \  __/\__ \
  \_____|_|\__,_|___/___/\___||___/
*/
  .nav {
    color:#FFF
  }
                                  

/*
   _____ _____      
  |_   _|  __ \     
    | | | |  | |___ 
    | | | |  | / __|
   _| |_| |__| \__ \
  |_____|_____/|___/
                    
*/                  

  #navbarTitle {
    font-family: 'Orbitron'
  }